# Dados coletados e processados
data/raw/
data/processed/

# Ambientes virtuais
.venv/
venv/
env/

# Variáveis de ambiente
.env

# Arquivos gerados pelo Python
__pycache__/
*.pyc
*.pyo

# Arquivos temporários do Jupyter
.ipynb_checkpoints/

# Configurações locais do VS Code
.vscode/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db